@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin:0;
    padding:0;
}
body {
    background-color: #f05323;
}
.navbar {
    width: 100%;
    height: 75px;
    background-color: #0b1f41;
}
.nav-link {
    width: 100px;
    height: 75px;
    line-height: 75px;
    font-size: 18px;
    float: left;
    text-align: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.navbar a:hover {
    color: rgb(134, 134, 134);
}
.logo {
    width: 200px;
    font-weight: bold;
    margin-left: 20px;
    height: 75px;
    line-height: 75px;
    font-size: 18px;
    float: left;
}
.container {
    width: 788px;
    margin: 10px auto;
    overflow: hidden;
    background-color: #263b80;
}
.matchup {
    width: 390px;
    height: 325px;
    float: left;
    background-color: #0b1f41;
    margin: 2px;
}
.teams{
    height: 175px;
    width: 390px;
    margin: 0 auto;
}
.team-logo {
    float: left;
    width: 170px;
}
.miami {
    width: 170px;
    height: 121.42px;
}
.versus, .game-versus {
    float: left;
    width: 50px;
    height: 175px;
    line-height: 160.71px;
    text-align: center;
}
.team {
    height: 175px;
    width: 170px;
    float: left;
}
.team-name {
    width: 170px;
    float: left;
    text-align: center;
    font-weight: bold;
}
.game-time-container {
    height: 225px;
    width: 390px;
    margin: 0 auto;
    font-size: 15px;
}
.game-date, .game-time, .game-link {
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
}
.game-link {
    color: white;
    text-decoration: underline;
}
.game-scores {
    height: 60px;
    width: 390px;
    margin: 0 auto;
}
.game-score {
    float: left;
    height: 60px;
    width: 170px;
    text-align: center;
    font-size: 26px;
}
.game-versus {
    height: 50px;
    line-height: 40px;
    font-weight: bold;
}
#Draw {
    color: grey;
}
#Win {
    color: rgb(34, 145, 34);
}
#Loss {
    color: red;
}
.month-scroller {
    background-color: #263b80;
    width: 788px;
    height: 35px;
    margin: 0 auto;
    margin-top: 20px;
}
.current-month {
    width: 700px;
    height: 35px;
    line-height: 35px;
    float: left;
}
.left-arrow, .right-arrow {
    float: left;
    width: 44px;
    height: 35px;
    line-height: 35px;
    background-color: #0b1f41;
}
.container-for-articles {
    width: 608px;
    margin: 10px auto;
    overflow: hidden;
    background-color: #263b80;
}
.article-container {
    width: 590px;
    height: 565px;
    margin: 10px auto;
    background-color: #0b1f41;
}
.article-headline, .article-photo, .article-description, .article-details, .article-photo-credits {
    float: left;
    width: 570px;
    padding-left: 5px;
    text-align: left;
}
.article-headline {
    height: 50px;
    font-size: 28px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}
.article-photo img {
    width: 570px;
    margin-left: 5px;
}
.article-photo-credits {
    font-style: italic;
    font-size: 14px;
    height: 25px;
    text-align: right;
}
.article-description {
    height: 60px;
    padding-left: 10px;
}
.article-details {
    height: 30px;
    text-decoration: none;
    font-weight: 200;
    padding-left: 10px;
}
.article-link {
    border: 1px solid white;
    background-color: #0b1f41;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.7s;
    padding: 2px 5px;
}
.article-link:hover {
    color: #0b1f41;
    background-color: white;
}